<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>FinalProject</display-name>
    <welcome-file-list>
        <welcome-file>login.html</welcome-file>
        <welcome-file>login.htm</welcome-file>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>taikhoan</servlet-name>
        <servlet-class>model.TaiKhoan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SingleproductServlet</servlet-name>
        <servlet-class>controller.SingleproductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SanphamServlet</servlet-name>
        <servlet-class>controller.SanphamServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShopServlet</servlet-name>
        <servlet-class>controller.ShopServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>controller.SearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>taikhoan</servlet-name>
        <url-pattern>/taikhoan</url-pattern>
    </servlet-mapping>
    <servlet>
        <description/>
        <display-name>LoginServlet</display-name>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SingleproductServlet</servlet-name>
        <url-pattern>/singleproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SanphamServlet</servlet-name>
        <url-pattern>/SanphamServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShopServlet</servlet-name>
        <url-pattern>/ShopServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
